@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blue">Welcome to the Coffee Shop Lab!</h1>
    <h3 style="color:green">Click the link above to add a new user.</h3>
</div>

<img src="https://s3.amazonaws.com/factmag-images/wp-content/uploads/2015/03/snoop-hogan.jpg" alt="HulkFlex" draggable="false" class="center" />

<div id="brotherButton">
    <audio id="brother" src="brother.mp3" preload="auto"></audio>
    <button onclick="document.getElementById('brother').play().pause();" class="center">Hulkamania!</button>
</div>